{% extends "base.html" %}

{% block name_it %}
HUNGRY?
{% endblock name_it %}

{% block info %}

{% for item in restaurants %}
	<a href="{% url 'restaurant_detail' detail_id=item.id %}">
	<a href="{% url 'restaurant_delete' delete_id=item.id %}">Delete</a>
	<a href="{% url 'restaurant_update' restaurant_id=item.id %}">Update</a>



	<ul>
		<li>Cuisine: {{item.name}}</li>
		<li>Rate: {{item.description}}</li>
		<li>working hours: {{item.opening_time}} - {{item.closing_time}}</li>
	</ul>


		{% endfor %}

{% endblock info %}
